* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background: url(img/photo-1456324504439-367cee3b3c32.avif) no-repeat center center/cover;

  display: flex;
  justify-self: center;
  align-items: center;
}

.container{
  margin: 0 auto;
}

#adds-task-container{

  width: 35rem;
  padding: 2rem 1rem;
  background:#fff;
  /* background: #4f4f4f; */
  border-radius: 2rem;
  box-shadow: 0 0 0.3rem;
  display: flex;
  /* justify-content: center; */
  margin-bottom: 2rem;
}

input{
  flex: 5;
  margin-right: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  padding: 5px;
  
}
#adds-task{
  transition: .3s;
  flex: 1;
  font-size: 2rem;
  padding: 0.5rem;
  background-color: #fff;
  color: green;
  border: green solid 0.2rem;
  border-radius: 1rem;
  cursor: pointer;
}
#adds-task:hover{
  background-color: green;
  color:#fff
}

/* styling for task which get added to todolist */

.task{
  width: 100%;
  background:#fff;
  border-radius: 1rem;
  box-shadow: 0 0 0.3rem ;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;


}

.task li{
  list-style: none;
  flex: 4;
  padding: 0.5rem;
  font-size: 2rem;
  margin: 0.1rem;
}

.task button{
  flex: 1;
  border-radius: 0.3rem;
  background-color: #fff;
  cursor: pointer;
}
.task .checkTask{
  color: orange;
  margin-right: 0.5rem;
  border: solid 0.2rem orange;
  font-size: 1.5rem;
}

.task .checkTask:hover{
  background-color: orange;
  color: white;
}

.task .deleteTask{
  color: red;
  margin-right: 0.5rem;
  border: solid 0.2rem red;
  font-size: 1.3rem;
}

.task .deleteTask:hover{
  background-color:red;
  color:#fff;

}